.calendarContainer {
    width: 96%;
    margin-left: 2%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2%;
}

.calendarContainer.dark {
    background-color: #342e2e;
}

.calendar {
    width: 100%;
    border-radius: 10px;
    background-color: white;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.8);
    margin-bottom: 20px;
}

.calendar.dark {
    background-color: #342e2e;
    box-shadow: 0 4px 8px rgba(255, 255, 255, 0.8);
}

.monthNavigation {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
}

.monthNavigation.dark {
    background-color: #342e2e;
    color: white;
}

.currentMonth {
    font-size: 24px;
    font-weight: bold;
}

.currentMonth.dark {
    color: white;
}

.daysOfWeek {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    font-weight: bold;
}

.dayOfWeek {
    padding: 10px;
    text-align: center;
}

.dayOfWeek.dark {
    color: white;
}

.daysContainer {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 10px;
}

.daysContainer.dark {
    background-color: #342e2e;
}

.day {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 50px;
    background-color: #f5f5f5;
    border-radius: 8px;
    cursor: pointer;
}

.day.dark {
    background-color: #2d2828;
    color: white;
}

.emptyDay {
    width: 100%;
    height: 50px;
}

.appointmentContainer {
    width: 97%;
    margin-left: 1%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 0.6%;
    flex-wrap: wrap;
    justify-content: space-between; /* Добавил выравнивание по горизонтали */
}

.appointment {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    width: 100%;
    border-radius: 10px;
    background-color: #f6fff6;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.8);
}

.appointment.dark {
    background-color: #2d2828;
    box-shadow: 0 4px 8px rgba(255, 255, 255, 0.8);
}

.appointment-details {
    display: flex;
    align-items: center;
}

.appointment-details > div {
    margin-right: 10px; /* Отступ между элементами внутри записи */
}

.appointment button {
    border: 2px solid #007bff;
    border-radius: 4px;
    padding: 6px 12px;
    font-weight: bold;
    color: #007bff;
    background-color: white;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

.appointment button:hover {
    background-color: #007bff;
    color: white;
}

.monthButton{
    background-color: transparent;
    border: none;
}

.appointment button {
    border: 2px solid #007bff;
    border-radius: 4px;
    padding: 6px 12px;
    font-weight: bold;
    color: #007bff;
    background-color: white;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

.appointment button.edit {
    border: 2px solid #17a2b8;
    color: #17a2b8;
    background-color: transparent;
    border-radius: 5px;
}

.appointment button.delete {
    border: 2px solid red;
    color: red;
    background-color: transparent;
    border-radius: 5px;
    margin-left: 5px;
}

.appointment button.save {
    border: 2px solid #28a745;
    color: #28a745;
    background-color: transparent;
    border-radius: 5px;
}

.appointmentAdd button.edit {
    border: 2px solid #17a2b8;
    color: #17a2b8;
    background-color: transparent;
    border-radius: 5px;
}

.appointmentAdd button.delete {
    border: 2px solid red;
    color: red;
    background-color: transparent;
    border-radius: 5px;
    margin-left: 5px;
}

.appointmentAdd button.save {
    border: 2px solid #28a745;
    color: #28a745;
    background-color: transparent;
    border-radius: 5px;
}

.newAppointmentContainer {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 10px;
}

.newAppointmentButton {
    border: 2px solid #007bff;
    border-radius: 4px;
    padding: 6px 12px;
    font-weight: bold;
    color: #007bff;
    background-color: transparent;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
    margin-right: 1%;
    margin-top: 10px;
}

.newAppointmentButton:hover {
    background-color: #007bff;
    color: white;
}

.newAppointmentForm {
    display: flex;
    flex-direction: column;
}

.newAppointmentForm-input {
    padding: 6px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.newAppointmentForm-input.dark{
    background-color: #695b5b;
    color: white;
}

.newAppointmentForm-input.dark::placeholder{
    color: #adadad;
}

.newAppointmentForm1-input {
    border: 1px solid #ccc;
    border-radius: 4px;
    margin: 0;
    padding: 0;
}

.newAppointmentForm1-input.dark{
    background-color: #695b5b;
    color: white;
}

.newAppointmentForm1-input.dark::placeholder{
    color: #adadad;
}

.newAppointmentForm button {
    border: 2px solid #007bff;
    border-radius: 4px;
    padding: 6px 12px;
    font-weight: bold;
    color: #007bff;
    background-color: white;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

.newAppointmentForm button:hover {
    background-color: #007bff;
    color: white;
}

.appointmentAddContainer {
    width: 97%;
    margin-left: 1%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 0.2%;
    flex-wrap: wrap;
    justify-content: space-between;
}

.appointmentAdd {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    width: 100%;
    margin-left: -3%;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.8);
}

.appointmentAdd-details {
    display: flex;
    align-items: center;
}

.small-input {
    width: 60px; /* You can adjust the width as needed */
    padding: 4px;
}

.add-element{
    margin-left: 15px;
}

.add-element.dark{
    color: white;
}

.tab {
    /*
    font-weight: bold;
    */
    cursor: pointer;
    margin-top: 10px;
    font-size: 24px;
    display: flex;
    justify-content: space-between;
    width: 90%;
    background: #ffffff;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}

.tab.dark {
    border-bottom: 2px solid #ffffff;
    color: white;
    background: #342e2e;
    box-shadow: 0 4px 8px rgba(255, 255, 255, 0.8);
}

.tab-up {
    transform: rotate(180deg);
}

.tab-down {
    transform: rotate(0deg);
}

.selectedDay {
    background-color: #28a745; /* Зеленый цвет для выбранных дней */
    color: white;
}

.day.selectedDay {
    background-color: #269d41; /* Зеленый цвет для выбранных дней */
    color: white;
}

.day.hasAppointments {
    background-color: rgb(12, 255, 0);
    color: black;
}

.edit-appointment-div {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

.edit-appointment-div button {
    flex: 1;
    margin-right: 10px;
}

.edit-appointment-div button:last-child {
    margin-right: 0;
}

@media (max-width: 1000px) {
    .calendar {
        width: 90%;
    }

    .newAppointmentButton {
        margin-right: 3.5%;
    }

    .appointment {
        flex-direction: column;
        /*align-items: flex-start;*/
        width: 92%;
    }

    .appointmentAdd {
        flex-direction: column;
        /*align-items: flex-start;*/
        width: 92%;
    }

    .appointment-details {
        flex-direction: column;
        align-items: flex-start;
        width: 100%;
    }

    .appointmentAdd-details {
        flex-direction: column;
        align-items: flex-start;
        width: 100%;
    }

    .appointment-details > div {
        margin-right: 0;
        margin-bottom: 10px;
    }

    .appointment button {
        align-self: stretch;
        margin-top: 10px;
        font-size: 20px;
    }

    .appointmentAdd-details > div {
        margin-right: 0;
        margin-bottom: 10px;
    }

    .appointmentAdd button {
        align-self: stretch;
        margin-top: 10px;
        font-size: 24px;
    }

    .edit-appointment-div button {
        width: calc(50% - 5px); /* Каждая кнопка занимает половину ширины, с отступом между ними */
    }

}