.header {
    background-color: white;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 10px 40px 0px 10px;
    height: 65px;
    border-bottom: 1px solid #ccc;
}

.header.dark {
    background-color: #2d2828;
}

.search-input-container {
    position: relative;
}

.search-input {
    margin-top: 10px;
    margin-right: 20px;
    border-radius: 20px;
    padding: 11px 24px;
    border: 1px solid #ccc;
}

.search-button {
    margin-top: 5px;
    position: absolute;
    top: 50%;
    right: 25px;
    transform: translateY(-50%);
    background-color: white;
    color: white;
    border-radius: 50%;
    padding: 8px;
    border: none;
    cursor: pointer;
}

.search-icon {
    color: black;
}

.header a {
    color: black;
    font-weight: bold;
    text-decoration: none;
}

.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: -5px;
}

.logo {
    margin: 0 0 0 3%;
    color: black;
    cursor: pointer;
    scale: 1.2;
}

.logo.dark {
    color: white;
}

.navigate {
    /*margin: 0 0 0 3%;*/
    color: #666666;
    cursor: pointer;
    margin-left: 100px;
    /*scale: 1.2;*/
}

.navigate-mobile {
    /*margin: 0 0 0 3%;*/
    color: #666666;
    cursor: pointer;
    font-size: 40px;
    /*margin-left: 100px;*/
    /*scale: 1.2;*/
}

.navigate-mobile.dark {
    color: #ffffff;
}

.navigate.dark {
    color: #dedede;
}

.navigate:hover{
    color: black;
}

.search-container {
    display: flex;
    align-items: center;
    margin-left: 10px;
}

.profile-header-button {
    /*margin-top: 10px;*/
    margin-right: 0;
    margin-left: 10px;
    background-color: white;
    border: 2px solid black;
    color: white;
    border-radius: 20px;
    padding: 6px 10px;
    font-size: 18px;
    text-decoration: none;
    scale: 1.05;
    cursor: pointer;
}

.profile-header-button.dark {
    background-color: #2d2828;
    border: 2px solid white;
    color: #2d2828;
}

.settings-button {
    margin-top: 20px;
    margin-left: 20px;
    margin-right: -20px;
    background-color: white;
    color: black;
    font-size: 24px;
    border-radius: 20px;
    border: black;
    text-decoration: none;
    scale: 1.6;
}

.profile-header-button:hover {
    /*background-color: black;*/
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}

.theme-switch {
    display: flex;
    align-items: center;
    margin-left: 10px;
}

.theme-toggle {
    margin-right: 10px;
    box-shadow: 0 5px 8px rgba(0, 0, 0, 0.5);
    color: black;
    background-color: black;
}

.theme-toggle .react-switch-handle {
   /* display: flex;*/
    align-items: center;
    justify-content: center;
}

.theme-toggle-switch {
    background-color: white;
}

.dark-theme .theme-toggle-switch {
    background-color: black;
}

.moon-icon {
    color: white;
}

.sun-icon {
    color: black;
}

.message-icon {
    color: black;
}

.menu-overlay {
    position: fixed;
    top: 60px; /* Начало панели на 60px ниже */
    left: 0;
    width: 100%;
    height: calc(100% - 60px); /* Высота панели за вычетом 60px */
    background: rgba(255, 255, 255, 0.9); /* Полупрозрачный белый фон */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    z-index: 1000; /* Убедитесь, что панель поверх других элементов */
    transition: transform 0.4s ease-in-out, opacity 0.4s ease-in-out;
    transform: translateY(-100%); /* Скрыта сверху экрана */
    opacity: 0;
    pointer-events: none;
}

.menu-overlay.visible {
    transform: translateY(0); /* Видна на экране */
    opacity: 1;
    pointer-events: auto;
}

.menu-content {
    background: transparent;
    padding: 20px;
    width: 100%;
    text-align: center;
}

.dark .menu-overlay {
    background: rgba(0, 0, 0, 0.7); /* Полупрозрачный темный фон для темной темы */
}

.dark .menu-content {
    color: white;
}

@media (max-width: 1025px) {
    .hide-on-mobile {
        display: none;
    }
}

@media (max-width: 1025px) {
    .profile-header-button {
        /*margin-top: 10px;*/
        margin-right: 0;
        margin-left: 10px;
        background-color: white;
        border: 2px solid black;
        color: white;
        border-radius: 20px;
        padding: 6px 10px;
        font-size: 24px;
        text-decoration: none;
        scale: 1.05;
        cursor: pointer;
    }

    .header {
        height: 50px;
    }
}