.main-dark-theme {
    background-color: black;
}

.main-light-theme {
    background-color: white;
}

/* Add these styles to your existing Main.css or create a new CSS file */

.filter-button {
    position: absolute;
    right: 10px;
    background-color: white;
    border: 1px solid blue;
    color: blue;
    padding: 5px 10px;
    cursor: pointer;
}

.filter-modal {
    display: block;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
    background-color: white;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 30%;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.arrow.active {
    color: #008000; /* Green color for active arrows */
    font-size: 30px; /* Increase font size for active arrows */
    scale: 2;
}

.arrow {
    font-size: 22px; /* Increase font size for active arrows */
    scale: 2;
}

/* Добавьте следующие стили в ваш файл CSS или в компонент React */

/* Стили для toggle-переключателя */
.toggle-container {
    display: flex;
    align-items: center;
}

.toggle-label {
    margin-right: 10px;
}

.toggle-switch {
    position: relative;
    display: inline-block;
    width: 40px;
    height: 20px;
    background-color: #ccc;
    border-radius: 20px;
    cursor: pointer;
}

.toggle-slider {
    position: absolute;
    top: 50%;
    transform: translate(-100%, -50%);
    width: 18px;
    height: 18px;
    background-color: #fff;
    border-radius: 50%;
    transition: transform 0.3s ease;
}

.toggle-switch input {
    display: none;
}

.toggle-switch input:checked + .toggle-slider {
    transform: translate(0%, -50%);
}

/* Примените стили в вашем компоненте */
