/* MessageComponent.css */
.chat-container {
    width: 60%;
    height: 90vh;
    /*margin: 10px auto;*/
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    border: 1px solid #ccc;
    border-radius: 10px;
    overflow: hidden;
    min-width: 350px;
}

.message-header {
    display: flex;
    align-items: center;
    padding: 10px;
    background-color: #f0f0f0;
    border-bottom: 1px solid #ccc;
    top: 0;
    position: fixed;
    left: 0;
    right: 0;
    margin-bottom: 40px;
    z-index: 100;
}

.message-header.dark {
    background-color: #2d2828;
}

.avatar {
    width: 40px;
    height: 40px;
    background-color: #3498db;
    border-radius: 50%;
    margin-right: 10px;
}

.name {
    font-weight: bold;
}

.name.dark {
    color: white;
}

.message-list {
    flex-grow: 1;
    overflow-y: auto;
    padding: 10px;
    display: flex;
    flex-direction: column; /* Добавляем столбцовый макет для сообщений */
}

.message {
    max-width: 70%;
    padding: 10px;
    border-radius: 10px;
    margin: 5px;
    word-wrap: break-word;
}

.mine {
    align-self: flex-end;
    background-color: #34c8db; /* Ваш цвет сообщений */
    color: #fff;
}

.theirs {
    align-self: flex-start;
    background-color: #f0f0f0; /* Цвет сообщений собеседника */
}

.theirs.dark {
    background-color: #695b5b;
    color: white;
}

/* Добавляем отступы к сообщениям, чтобы они не прилипали друг к другу */
.mine + .mine,
.theirs + .theirs {
    margin-top: 5px;
}

.message-input-div {
    display: flex;
    align-items: center;
    padding: 10px;
    background-color: #f0f0f0;
    border-top: 1px solid #ccc;
    border-radius: 0 0 10px 10px;
    bottom: 0; /* Закрепляем его внизу экрана */
    position: fixed;
    left: 0;
    right: 0;
    z-index: 100;
}

.message-input-div.dark {
    background-color: #2d2828;
}

.message-input {
    flex-grow: 1;
    padding: 10px;
    border-radius: 20px;
    border: none;
    outline: none;
}

.message-input.dark {
    background-color: #695b5b;
}

.message-input.dark::placeholder {
    color: #adadad;
}

.send-button {
    background-color: #3498db; /* Ваш цвет кнопки отправить */
    color: #fff;
    border: none;
    border-radius: 20px;
    padding: 10px 20px;
    margin-left: 10px;
    cursor: pointer;
}

.send-button:hover {
    background-color: #2980b9; /* Цвет кнопки при наведении */
}

/* Messages.css */

.name {
    font-size: 20px;
    font-weight: bold;
}

.message-list {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.message-group {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.date {
    align-self: center;
    background-color: #eee;
    padding: 4px 8px;
    border-radius: 16px;
    font-size: 14px;
}

.date.dark {
    background-color: #2d2828;
    color: white;
}

.message {
    max-width: 70%;
    padding: 8px 16px;
    border-radius: 16px;
    word-wrap: break-word;
}

.mine {
    align-self: flex-end;
    background-color: #2fa6ff;
    color: white;
}

.theirs {
    align-self: flex-start;
    background-color: #f0f0f0;
    color: #333;
}

.timestamp {
    display: flex; /* Добавляем flex-контейнер для времени и кружочка */

    font-size: 12px;
    color: #002aff;
    margin-top: 4px;
    text-align: right;
    justify-content: space-between; /* Добавил выравнивание по горизонтали */
}

.circle {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    margin-left: 5px; /* Помещаем кружочек после времени */
    margin-top: 3px;
    scale: 0.8;
}

.not-viewed {
    background-color: rgb(128, 128, 128); /* Серый цвет - не просмотрено */
}

.viewed {
    background-color: darkblue; /* Темно-синий цвет - просмотрено */
}

.mark-as-read {
    text-align: center;
    background-color: #3498db;
    color: #fff;
    padding: 10px;
    cursor: pointer;
}

.mark-as-read:hover {
    background-color: #2980b9;
}

.mark-as-read {
    cursor: pointer;
    background-color: #2fa6ff;
    color: white;
    text-align: center;
    padding: 8px;
    border-radius: 4px;
}

.message-list {
    flex-grow: 1;
    overflow-y: auto;
    padding: 10px;
    display: flex;
    flex-direction: column;
}

.message.selected {
    background-color: #004cda;
}

.timestamp.selected {
    background-color: transparent;
    color: white;
}

.message-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    background-color: #f0f0f0;
    border-bottom: 1px solid #ccc;
}

.choose-buttons {
    display: flex;
    gap: 10px;
}

.message-control-button {
    background-color: transparent;
    color: #2fa6ff;
    border: 2px solid #2fa6ff;
    border-radius: 10px;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    transition-duration: 0.4s;
    cursor: pointer;
}

.message-control-button:hover {
    background-color: #2fa6ff;
    color: white;
}

.message-header-image {
    display: flex;
    align-items: center;
    justify-content: space-between; /* Добавляем выравнивание по горизонтали */
    background-color: transparent;
}

.messageImage{
    width: 300px;
    height: 300px;
}

@media (max-width: 800px) {
    .messageImage{
        width: 100%;
        height: 100%;
    }
}

/* Полноэкранный режим для мобильных устройств */
@media (max-width: 800px) {
    .chat-container {
        width: 100vw; /* Полная ширина экрана */
        height: 100vh; /* Полная высота экрана */
        border-radius: 0; /* Убираем скругление */
        margin: 0; /* Убираем отступы */
        position: fixed;
        z-index: 100; /* Убедитесь, что z-index больше, чем у футера */
    }

    .message-header,
    .message-input-div {
        padding: 15px; /* Увеличиваем отступы для удобства на мобильном */
    }

    .message {
        max-width: 90%; /* Немного увеличиваем ширину сообщений */
    }
}

