/* ProfilePage.css */
.profile-page {
    text-align: center;
    padding: 20px;
}

.profile-header {
    margin-bottom: 20px;
}

.profile-photo img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
}

.profile-name {
    font-size: 24px;
    margin-top: 10px;
}

.profile-bio {
    margin-top: 10px;
    font-size: 16px;
}

.profile-name.dark {
    color: white;
}

.profile-description.dark {
    color: white;
}

.message-button {
    margin-top: 10px;
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.services-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; /* Центрирование по вертикали */
    text-align: center; /* Центрирование текста по центру */
    /*margin-left: -5.2%;*/ /* Убираем внешний отступ */
    padding: 0; /* Убираем внутренний отступ */
}


.avatar-image {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
    display: block;
    margin: 0 auto;
    background-image: url('https://th.bing.com/th/id/OIG2.01QU5flA2Zrk9DFkj8wU?w=1024&h=1024&rs=1&pid=ImgDetMain');
    background-size: 100%;
}

.contact-item {
    display: inline-block; /* Вывод в одну строку */
    margin-right: 10px;    /* Добавляем немного отступа между иконками и текстом */
}

.profile-input.light{
    /*width: 50ch;*/
    width: 70%;
    background-color: white;
    color: black;
}

.profile-input.dark{
    background-color: #695b5b;
    color: white;
    width: 50ch;
}

.profile-input.dark::placeholder{
    color: #adadad;
}

.profile-add-serviceCard-button{
    margin-top: 10px;
    background-color: transparent;
    color: #007bff;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
    border: 2px solid #007bff;
    border-radius: 4px;
}

.tab-switcher {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    position: relative;
}

.tab-button {
    position: relative;
    padding: 10px 20px;
    border: none;
    background: none;
    cursor: pointer;
    outline: none;
    /*
    color: transparent; !* Текст невидим *!
    */
    font-size: 16px;
    transition: color 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.tab-button::before {
    content: '';
    position: absolute;
    left: 50%;
    bottom: 0;
    width: 0;
    height: 2px;
    background-color: #007bff;
    transform: translateX(-50%);
    transition: width 0.3s ease-in-out;
}

.tab-button.active {
    color: #007bff; /* Текст горит синим */
}

.tab-button.active.dark {
    color: #007bff; /* Текст горит синим */
}

.tab-button.active::before {
    width: 100%; /* Подсветка занимает всю ширину кнопки */
}

.tab-button:hover::before {
    width: 100%; /* Подсветка при наведении */
}

.tab-button:not(.active) {
    transition: transform 0.3s ease-in-out;
}

.tab-button:not(.active):hover {
    transform: translateY(-2px); /* Легкий подъем при наведении */
}

.tab-button.dark {
    color: white;
}

@media (max-width: 800px) {
    .profile-input.dark{
        background-color: #695b5b;
        color: white;
        width: 15ch;
    }
}
